@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  
    background-color: #026153;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #ffffff;
    font-size: 48px;
    margin-top: 100px;
    text-align: center;
  }
  
  p {
    color: #ffffff;
    font-size: 24px;
    margin: 20px;
    text-align: center;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color: #ffffff;
  }
  #username,
  #password {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  #receiver {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;

  }
  #message_box {
    border: 1px solid black; 
    height: 400px; 
    width: 800px; 
    overflow: auto;
    padding: 2px;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    background-color: #ffffff;
  }
  #message {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;

  }
  button {
    
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: rgb(110, 23, 106);
  color: #fff;
}

.logo {
  font-size: 32px;
  padding: 5px;
}

.logo img {
  background-color: transparent;
  margin: 15px;
  height: 50px;
  width: 50px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 18px;
  padding-right: 5%;
  padding-top: 0px;
}

.menu a {
  text-decoration: none;
  padding: 0px;
  color: #fff
}

.menu li {
  list-style: none;
}

.menu a:hover {
  color: #db923d;
}

.submenu {
  position: absolute;
  z-index: 1;
  /* float: left; */
  width: 50px;
  background-color: rgb(110, 23, 106);
  margin-top: -5px;
  opacity: 0;
  padding: 0;
  margin-bottom: 15px;
  transition: all ease 0.5s;
}

.dropdown:hover .submenu {
  float: left;
  background-color: rgba(110, 23, 106, 0.966);
  opacity: 1;
  margin-top: 0;
  z-index: 2;
}

/* BUTTONS */
.navigation-button {
  text-decoration: none;
  color:rgb(0, 0, 0);
  text-align: center;
  border-radius: 20px;
  padding: 15px 35px;
  width: 12em;
  margin: 5px;
  line-height: 50px;
  background-color: #b6b095;
}
.navigation-button:hover {
  cursor: pointer;
  background-color: #c5ab63;
}